* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Запрет горизонтальной прокрутки */
    height: 100%;
    width: 100%;
}
body {
    user-select: none; /* Запретить выделение текста на всей странице */
    font-family: 'Roboto', sans-serif; /* Шрифт, похожий на Android */
    background-color: #8E8A8E; /* Цвет фона */
    overflow-x: hidden; /* Запрет горизонтальной прокрутки */
    background-image: url('./img/fon2.jpg');
    background-position: center; /* Центрируем изображение */
    background-size: cover; /* Растягиваем изображение, сохраняя пропорции */
    background-repeat: no-repeat; /* Отключаем повторение изображения */
    background-attachment: fixed; /* Закрепляем изображение на месте при прокрутке */
    height: 100vh; /* Фон растягивается на всю высоту экрана */
    width: 100vw; /* Фон растягивается на всю ширину экрана */
    
    min-height: 100vh; /* Минимальная высота для body */
    position: relative; /* Позиционирование для поддержки height */
}
.header-logo {
    height: 100px; /* Высота логотипа */
    width: 180px; /* Автоматическая ширина для сохранения пропорций */
    position: absolute;
    right: 5px; /* Прижать блок к правому краю экрана */
   
}
.header {
    position: fixed; /* Фиксированное положение */
    top: 0;
    left: 0;
    right: 0;
    height: 160px;
    background-image: url('./img/headerfon.jpg');
    background-color: #2196F3; /* Цвет фона хедера */
    justify-content: flex-end;
    background-size: cover; /* Изображение растягивается, чтобы покрыть весь блок */
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat; /* Избегать повторения изображения */
    color: #FFFFFF; /* Цвет текста хедера */
    padding: 5px 20px; /* Уменьшено верхнее и нижнее заполнение */
    text-align: center;
    font-size: 20px; /* Уменьшен размер шрифта */
    z-index: 1000; /* Слой выше остальных элементов */
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);

       
}

.folder {
    margin-top: 150px; /* Отступ сверху для хедера */
    padding: 20px;
}


.app-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 10px; /* Отступы между иконками */
     
    flex-wrap: wrap; /* Разрешаем перенос элементов */
   
    justify-content: flex-start; /* Выравнивание элементов по началу */
}

.app-icon {
    width: 100%; /* Полная ширина блока */
    padding-top: 100%; /* Соотношение сторон 1:1 */
    position: relative; /* Относительное позиционирование */
    overflow: hidden; /* Скрытие переполнения */
    background-color: #F5F5F5; /* Цвет фона иконки */
    border-radius: 10px; /* Закругленные углы */
    display: block; /* Убедитесь, что отображение по умолчанию block */
    box-shadow: 0 0 15px rgba(60, 149, 239, 0.941);
    box-sizing: border-box;
    
}

.app-icon img {
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
    left: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    object-fit: cover; /* Масштабирование изображений */
    
}

.app-text {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 0; /* Прижимаем текст к нижней части */
    left: 0; /* Выравниваем текст по левому краю */
    right: 0; /* Выравниваем текст по правому краю */
    text-align: center; /* Центрируем текст */
    background-color: rgba(0, 0, 0, 0.558); /* Полупрозрачный фон для текста */;
    color: #FFFFFF; /* Цвет текста */
    padding: 3px 0; /* Внутренние отступы */
    max-height: 22px;

}

.horizontal-scrollbar {
    z-index: 1001; /* Слой выше остальных элементов */
    display: flex;
    overflow-x: auto; /* Горизонтальная прокрутка */
    height: 60px; /* Высота скролл-бара */
    padding: 10px; /* Отступы вокруг */
    align-items: center; /* Выравнивание по центру */
    position: fixed; /* Фиксированное положение */
    top: 90px; /* 10px ниже хедера (60px + 10px) */
    left: 0;
    right: 0;
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}


.category-block {
    text-decoration: none;
    min-width: 120px; 
    height: 30px;
    margin-right: 15px; 
    background: transparent; /* Прозрачный фон */
    color: #fff; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 2px solid #ad93e981; 
    border-radius: 10px; 
    position: relative; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transition: background-color 0.3s, box-shadow 0.3s; /* Добавлено свойство box-shadow для плавного перехода */
}

.category-block::before {
    content: '';
    position: absolute;
    top: -5px; 
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid #00ffcc; 
    border-radius: 10px; 
    z-index: 0; 
    transition: all 0.3s; 
}

.category-block:hover::before {
    border-color: #ffcc00; 
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.5); 
}

.category-block:hover {
    background-color: hsla(164, 74%, 73%, 0.242); 
}

/* Скрыть скроллбар в веб-браузерах на основе WebKit */
::-webkit-scrollbar {
    display: none; /* Скрыть скроллбар */
}
/* Для Firefox */
.scrollable {
    scrollbar-width: none; /* Скрыть скроллбар */
}
.hidden {
    display: none; /* Скрыть элементы */
}
